<div class="container">
  <div class="row">

    <div class="col-md-12">
      <h2> Form app component</h2>
    <hr/>
   <h4>from service calling </h4>
   <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Pid</th>
        <th scope="col">pname</th>
        <th scope="col">price</th>
        <th scope="col">Percentage</th>
      <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productsDet,index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{product.pid}}</td>
        <td>{{product.pname | lowercase}}</td>
        <td>{{product.price | currency:"USD"}}</td>
        <td>{{discount | sqr}}</td>
        <td>{{dt | date:'y/M/d H:mm:ss'}}</td>
      </tr>
     
    </tbody>
  </table>
    <hr/>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-12">
      <app-product-details></app-product-details>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-12">
      <app-product-price-details></app-product-price-details>
    </div>
  </div>
</div>


